<div class="card h-100">
  <h5 class="card-header">
    {{book.volumeInfo.title}}
  </h5>
  <img class="card-img-top"
       *ngIf="book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.smallThumbnail"
       [src]="book.volumeInfo.imageLinks.smallThumbnail"
       alt="Card image cap">
  <div class="card-body">
    <p class="card-text"
       [innerHTML]="book.searchInfo.textSnippet">
    </p>
  </div>
  <div class="card-footer">
    <a [href]="book.volumeInfo.infoLink"
       class="btn btn-primary float-right">View</a>
  </div>
</div>